.landing{
  
    margin: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background: darkslategray;
    animation: background 3s infinite alternate;
    height: 720px;
    padding-top: 64px;
}
.landing__background{
    position:absolute;
    width: 100%;
    height: 72%;

}
@keyframes background {
    50% {
      background: darkcyan;
    }
  }
  
.landing__info{
    top: 112pt;
    text-align: center;
    position: relative;
    font-size: 32pt;
    font-weight: bold;
    z-index: 15;
}
.landing__info_text{
  font-size: 14pt;
  font-weight: normal;

}
.landing__info_buttons-item{
  width: 256px;
  height: 48px;
  margin: 5px;
  background-color: yellow;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18pt;
  font-weight: bold;
}
.landing__info_buttons-item:hover{
  background-color: darkgoldenrod;
}